@use "reset.scss";

html, body {
    height: 100%;
}

body {
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#scene {
    background-color: #000;
}