@use "reset.scss";

html, body {
    height: 100%;
}

body {
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game {
    background-color: #eee;
}